<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
        <div class="navbar-expand m-auto navbar-text">
          Made by <a href="https://github.com/poseidonihp">Julian Rodríguez</a>
        </div>
      </nav>
      
      

      <!-- <footer id="footer" class="pb-4 pt-4 ">
            <div class="container ">
              <div class="row text-center">
                <div class="col-12 col-lg">
                       <span>Made  by</span>  <a href="https://github.com/poseidonihp">Julian Rodríguez</a>
                    </div>
                    </div>
                    </div>
                    </footer> -->