<!-- estructura del proyecto -->
<app-header  [nombre]="nombres"></app-header>  
<!-- <div class="container">

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Consultar Usuario
            </mat-panel-title>
        </mat-expansion-panel-header>
    <app-search></app-search>
    </mat-expansion-panel>
    <mat-expansion-panel>
    
        <mat-expansion-panel-header>
                <mat-panel-title>
                 Registrar usuario
                </mat-panel-title>               
              </mat-expansion-panel-header>
    <app-register></app-register>
    </mat-expansion-panel>
    </mat-accordion>
</div> -->
<!-- <section id="#Registrar">
        <app-search></app-search>
</section> -->
<!-- <section id="#consultar">
        <app-register (toggle)="ObtenerDatos()" ></app-register>
</section> -->
<router-outlet></router-outlet>

<app-footer></app-footer>
